<% const i = htmlWebpackPlugin.options.offlineTools.i18n; %>
<%- include partials/top.ejs %>

<h1><%= i('site.title') %></h1>
<div id="app">
    {{ message }}
</div>
<h1><%= i('index.tools') %></h1>
<ul>
    <li>
        <a href="/physics"><%= i('index.physics') %></a>
    </li>
</ul>
<ul>
    <li>
        <a href="/">en-US</a>
    </li>
    <li>
        <a href="/pt-BR">pt-BR</a>
    </li>
</ul>

<%- include partials/bottom.ejs %>
