<% const i = htmlWebpackPlugin.options.offlineTools.i18n; %>
<% const u = htmlWebpackPlugin.options.offlineTools.url; %>
<%- include partials/top.ejs %>

<h1><%= i('site.title') %></h1>
<div id="app">
    {{ message }}
</div>
<h1><%= i('index.tools') %></h1>
<ul>
    <li>
        <a href="<%= u('/physics') %>"><%= i('index.physics') %></a>
    </li>
</ul>

<%- include partials/bottom.ejs %>
