<%
const i = htmlWebpackPlugin.options.offlineTools.i18n;
const t = htmlWebpackPlugin.options.offlineTools.translateUrl;
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%= u('/') %>"><%= i('site.title') %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <%= i('site.navbar.language') %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="<%= t('en-US') %>">en-US</a></li>
                        <li><a class="dropdown-item" href="<%= t('pt-BR') %>">pt-BR</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
